<table>
    <thead>
    <tr>
        <th>
            EMail
        </th>
        <th>
            Token
        </th>
    </tr>
    </thead>
    <tr>
        <td>{{email}}</td>
        <td>{{access_token}}</td>
    </tr>
</table>
